{% extends 'basic_template_1.html' %}
{% block title %}
<title>使用同态加密的机器学习训练验证系统</title>
{% endblock %}
{% block main_page %}
    <div class="jumbotron" >
        <div class="container bd-lead">
            <h1 class="font-weight-bold">使用同态加密的机器学习训练验证系统</h1>
            <!--x
            <p>投票人P<sub>i</sub>将选票的二进制序列转化为十进制V<sub>i</sub>后，</p>
            <p>在本地进行随机拆分，形成n个选票碎片，保留v<sub>i</sub><sub>i</sub>，剩余数v<sub>i</sub><sub>j</sub>传给n-1个选民。</p>
            <p>每个投票人收到n-1个投票人的随机数v<sub>j</sub><sub>i</sub>后，n个数求和得V'<sub>i</sub>，并将V'<sub>i</sub>广播</p>
            <p>在所有投票人计算完毕V'后，将V'全部求和，得到选举结果T，将T转化为二进制，得每个候选人的得票数。</p>
            <p style="font-size: 1.2rem;font-weight: bold">该系统有以下特性：</p>-->
            <hr class="div1">
            <p><strong>可选同态加密算法：</strong>  Paillier（加同态）、CKKS（完全同态）</p>
            <p><strong>可选训练模型：</strong>  逻辑回归（LR)，支持向量机（SVM）</p>
            <p><strong>可选数据集：</strong>  UCI乳腺癌诊断数据集，UCI心脏病诊断数据集，UCI台湾新竹献血数据集</p>

        </div>
    </div>
    <div class="container" >
        <div class="card-deck text-center">
                <div class="card mb-4 shadow-sm">
      <div class="my-0 card-header">
        <h4 style="font-weight: 600 !important;">后台生成训练模型</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title"><small >可进行以下操作:</small></h4>

          <div class="btn-group-justified list-unstyled mt-3 mb-4" role="group">
              <a href="{{ url_for('back_train') }}" class="btn btn-outline-primary btn-xl"role="button">进行训练</a>
              <a href="#" class="btn btn-outline-primary btn-xl"role="button">显示训练结果</a>
          </div>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header my-0">
        <h4 style="font-weight: 600 !important;">双方安全验证</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title"><small >可进行以下操作:</small></h4>

          <div class="btn-group-justified list-unstyled mt-3 mb-4" role="group">
              <a href="{{ url_for('back_test') }}" class="btn btn-outline-primary btn-xl"role="button">后台数据</a>
              <a href="#" class="btn btn-outline-primary btn-xl"role="button">自定义数据</a>
          </div>
      </div>
    </div>
        </div>
    </div>
{% endblock %}