{% extends 'basic_template_1.html' %}
{% block title %}
    <title>安全双方验证结果</title>
{% endblock %}
{% block css %}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/album/">
{% endblock %}
{% block main_page %}
    <div class="jumbotron" >
        <div class="container bd-lead">
            <h1 class="font-weight-bold">训练结果生成模型</h1>
            <hr class="div1">
            <p><strong>验证耗时：</strong>  {{ time_cost }}s</p>
            <p><strong>均方误差：</strong>（越小误差越小）：{{ MSE }}</p>
            <p><strong>对数均方误差：</strong>（越小误差越小）：{{ MSLE }}</p>
            <p><strong>R方误差：</strong>（越接近1越准确）{{ R_error }}</p>
             <p><strong>点击</strong><a href="{{ url_for('AI') }}">这里</a>返回首页</p>
        </div>
    </div>
    <div id="portfolio" class="container">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{{ conf }}">
                            <img class="img-fluid" src="{{ conf }}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">混淆矩阵</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{{ ROC }}">
                            <img class="img-fluid" src="{{ ROC }}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">ROC曲线</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th></th><th>precision</th><th>recall</th><th>f1-score</th><th>support</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">0</th>
                    <td>{{ class_report['0']['precision'] }}</td>
                    <td>{{ class_report['0']['recall'] }}</td>
                    <td>{{ class_report['0']['f1-score'] }}</td>
                    <td>{{ class_report['0']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>{{ class_report['1']['precision'] }}</td>
                    <td>{{ class_report['1']['recall'] }}</td>
                    <td>{{ class_report['1']['f1-score'] }}</td>
                    <td>{{ class_report['1']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">accuracy</th>
                    <td></td>
                    <td></td>
                    <td>{{ class_report['accuracy'] }}</td>
                    <td>{{ class_report['macro avg']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">macro avg</th>
                    <td>{{ class_report['macro avg']['precision'] }}</td>
                    <td>{{ class_report['macro avg']['recall'] }}</td>
                    <td>{{ class_report['macro avg']['f1-score'] }}</td>
                    <td>{{ class_report['macro avg']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">weighted avg</th>
                    <td>{{ class_report['weighted avg']['precision'] }}</td>
                    <td>{{ class_report['weighted avg']['recall'] }}</td>
                    <td>{{ class_report['weighted avg']['f1-score'] }}</td>
                    <td>{{ class_report['weighted avg']['support'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
       (function($) {
  "use strict"; // Start of use strict

  // Smooth scrolling using jQuery easing
  $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: (target.offset().top - 72)
        }, 1000, "easeInOutExpo");
        return false;
      }
    }
  });

  // Closes responsive menu when a scroll trigger link is clicked
  $('.js-scroll-trigger').click(function() {
    $('.navbar-collapse').collapse('hide');
  });

  // Activate scrollspy to add active class to navbar items on scroll
  $('body').scrollspy({
    target: '#mainNav',
    offset: 75
  });

  // Collapse Navbar
  var navbarCollapse = function() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-scrolled");
    } else {
      $("#mainNav").removeClass("navbar-scrolled");
    }
  };
  // Collapse now if page is not at top
  navbarCollapse();
  // Collapse the navbar when page is scrolled
  $(window).scroll(navbarCollapse);

  // Magnific popup calls
  $('#portfolio').magnificPopup({
    delegate: 'a',
    type: 'image',
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0, 1]
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
    }
  });

})(jQuery); // End of use strict
    </script>
{% endblock %}