{% extends 'basic_template.html' %}
{% block title %}
<title>电子投票首页</title>
{% endblock %}
{% block main_page %}
    <div class="jumbotron" >
        <div class="container bd-lead">
            <h1 class="font-weight-bold">安全多方求和电子投票系统</h1>
            <!--x
            <p>投票人P<sub>i</sub>将选票的二进制序列转化为十进制V<sub>i</sub>后，</p>
            <p>在本地进行随机拆分，形成n个选票碎片，保留v<sub>i</sub><sub>i</sub>，剩余数v<sub>i</sub><sub>j</sub>传给n-1个选民。</p>
            <p>每个投票人收到n-1个投票人的随机数v<sub>j</sub><sub>i</sub>后，n个数求和得V'<sub>i</sub>，并将V'<sub>i</sub>广播</p>
            <p>在所有投票人计算完毕V'后，将V'全部求和，得到选举结果T，将T转化为二进制，得每个候选人的得票数。</p>
            <p style="font-size: 1.2rem;font-weight: bold">该系统有以下特性：</p>-->
            <hr class="div1">
            <p><strong>选票完全保密：</strong>  只有n-1个人合谋才能计算出另一个人的秘密选票，因此可抵抗小于n-1个人的合谋。</p>
            <p><strong>无收据：</strong>  P<sub>j</sub>投票人只能收到其他P<sub>i</sub>发来的V<sub>i</sub><sub>j</sub>,任何一个投票者都无法重构一张完整选票。</p>
            <p><strong>公平：</strong>  只有每个投票人都公告自己的计票和，才可以进行最终结果展示，并可以获得相同的结果。</p>
            <p><strong>无争议：</strong>  若存在不诚实的投票人，则可以通过校对v'进行验证。</p>

        </div>
    </div>
    <div class="container" >
        <h1 class="font-weight-bold text-center">请选择您的角色</h1>
        <div class="card-deck text-center">
                <div class="card mb-4 shadow-sm">
      <div class="my-0 card-header">
        <h4 style="font-weight: 600 !important;">投票发起人</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title"><small >可进行以下操作:</small></h4>

          <div class="btn-group-justified list-unstyled mt-3 mb-4" role="group">
              <a href="{{ url_for('newvote') }}" class="btn btn-outline-primary btn-xl" role="button">创建投票</a>
              <button class="btn btn-outline-primary btn-xl" role="button"  data-toggle="modal" data-target="#reset-modal">重置投票</button>
              <button class="btn btn-outline-primary btn-xl" role="button"  data-toggle="modal" data-target="#auto-modal">模拟数据</button>
          </div>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header my-0">
        <h4 style="font-weight: 600 !important;">投票人</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title pricing-card-title"><small >可进行以下操作:</small></h4>

          <div class="btn-group-justified list-unstyled mt-3 mb-4" role="group">
              <a href="{{ url_for('show_vote') }}" class="btn btn-outline-primary btn-xl"role="button">投票</a>
              <a href="#" class="btn btn-outline-primary btn-xl"role="button">计票</a>
              <a href="#" class="btn btn-outline-primary btn-xl"role="button">公布结果</a>
          </div>
      </div>
    </div>
        </div>
    </div>
{% endblock %}