<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>参与投票</title>
</head>
<body>
    <form action="{{ url_for('vote') }}" method="POST">
        <dl>
            <dt>特权码：
            <dd><input type=password name=check_num>
            <dt>请投票：
            {% for i in range(1,can_num) %}
                <dd><input type="checkbox" name="can" value={{ i }} />{{ i }}号候选人</dd>
            {% endfor %}
            <dt>注意：最多可选{{ win }}个</dt>
            <dd><input type=submit value='投票'>
        </dl>
    </form>
</body>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
<script>
$('form').delegate('input[type="checkbox"][name^="can"]', 'click', function (e){
    var boxes = $('input[type="checkbox"][name^="can"]',this.form);
    boxes.filter(':not(:checked)').prop('disabled', boxes.filter(':checked').length >= {{ win }});
});
</script>
</html>